<h1>Profiles#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>

<ul>
  <h2>Yours tombs</h2>
  <% @tombs.each do |tomb| %>
  <li>
    <p>Tomb name: <%= tomb.name_tomb %></p>
    <p>Tomb description: <%= tomb.description %></p>
    <p>Tomb price: <%= tomb.price %></p>
    <% if @tomb.picture_tomb? %>
      <%= cl_image_tag @tomb.picture_tomb.path, width: 200, height: 300, crop: :fill %>
    <% end %>
    <% end %>
  </li>
</ul>

<ul>
  <h2>Yours bookings</h2>
  <% @bookings.each do |booking| %>
  <li>
    <p>Tomb name: <%= booking.tomb.name_tomb %></p>
    <p>Duration in year: <%= booking.duration_years %></p>
    <p>Number of persons: <%= booking.nb_persons %></p>
    <p>Epitaph: <%= booking.epitaph %></p>
    <% end %>
  </li>
</ul>
