<div class="navbar-wagon-fixed">
  <div class="navbar-wagon">
    <!-- Logo -->
    <%= link_to image_tag('logo.png'), graveyards_path %>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

      <!-- Search form -->
      <form action= "<%= graveyards_path %> " class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="Search something" name="search_text">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>

      <!-- button profil -->
      <%= link_to "Profil", profiles_path , class: "btn-beetle btn-navbar"  %>

      <!-- button log in / log out -->
      <% if user_signed_in? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete , class: "btn-beetle btn-navbar" %>
      <% else %>
        <%= link_to "Login",  new_user_session_path , class: "btn-beetle btn-navbar" %>
      <% end %>


      <!-- Photo profil / profil path-->
      <% if user_signed_in? %>
        <% if current_user.picture_avatar? %>
          <div class="navbar-avatar">
            <%= cl_image_tag current_user.picture_avatar.path, width: 200, height: 300, crop: :fill %>
          </div>
        <%else %>
          <div class="navbar-avatar">
            <%= image_tag 'avatar.JPG', class: "avatar dropdown-toggle" %>
           </div>
        <% end %>
      <% end %>
    </div>



    <!-- Dropdown list appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to "Profil", profiles_path  %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Login",  new_user_session_path %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
