<h1>Graveyards#index</h1>

<p>Find me in app/views/graveyards/index.html.erb</p>


<h1 class="text-center">Welcome to Graveyards Paradise !</h1>
<%= link_to 'your profile is here', profiles_path %>


<div class="row graveyards">
  <% @graveyards.each do |graveyard| %>
    <div class="col-xs-12 col-md-4">

      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= graveyard.picture_graveyard%>');">

          <div class="card-description">
            <h2><%= graveyard.city %></h2>
            <h2><%= graveyard.nb_places %></h2>
          </div>
          <%= link_to "tombs", graveyard_tombs_path(graveyard)%>
      </div>
    </div>
  <% end  %>

</div>




