
<div class="wrapper sign_in">
  <div class="inner-wrapper sign_in">
    <div class="container-fluid sign_in">



    <h2>Log in</h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs sign_in">
        <%= f.input :email, required: false, autofocus: true %>
        <%= f.input :password, required: false %>
        <%= f.input :remember_me, as: :boolean, label: false, inline_label: true  if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions sign_in">
        <%= f.button :submit, "Log in" , class: "btn-beetle sign_in" %>
      </div>
    <% end %>


    </div>
  </div>
</div>


